body
{
    background-color: #BA68C8;
}
.a
{
    width: 90%;
    margin: 5%;
    
    padding: 3%;
    background-color: #BA68C8;
    border: solid black;
}
.formcontrolfocus
{
    box-shadow: none;
    border-color: pink;
}
.profilebutton
{
    background: pink;
    box-shadow: none;
    border: none;
}
.profilebuttonhover
{
    background: pink;
}
.profilebuttonfocus
{
    background: pink;
    box-shadow: none
}
.profilebuttonactive
{
    background: pink;
    box-shadow: none
}
.backhover
{
    color: pink;
    cursor: pointer
}
.labels
{
    font-size: 11px
}
.addexperiencehover
{
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}