div
{
background-color: rgb(3, 205, 3);
margin: 5%;
height: auto;
padding: 5%;
}
input
{
    width: 40%;
    height: auto;
    padding: 1%;
    margin:5px;
    
    
}

.name
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}
.EMAIL
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}
.phone
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}


.ADDRESS
{
    padding: 3%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}
.postcode
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}
.COUNTRY
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;
}
.ctype,.cnumb,.scode,.ncard
{
    padding: 1%;
    margin: 3px;
    background-color: greenyellow;
    border: 2px solid black;   
}
button
{
    
    color: white;
    background-color: black;
    margin-left: 40%;
    margin-top: 5%;
    padding: 1%;
    border: 2px solid white;
    width: 20%;
}